<div class="row justify-content-md-center">
    <div class="col-md-12 mx-auto">
        <h3>Agregar Producto,  categoria: {{category.categoria}}</h3>
        <hr>
        <form [formGroup]="formProduct" class="row">
            <mat-form-field class="col-md-12">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="nombre" autocomplete="off">
                <mat-error *ngIf="formProduct.controls.nombre.errors != null">
                    <span *ngIf="formProduct.controls.nombre.errors.required">Campo nombre es Requerido</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-12">
                <mat-label>Precio</mat-label>
                <input matInput type="number" formControlName="precio" autocomplete="off">
                <mat-error *ngIf="formProduct.controls.precio.errors != null">
                    <span *ngIf="formProduct.controls.precio.errors.required">Campo nombre es Requerido</span>
                </mat-error>
            </mat-form-field>

            <br>
            <hr>
            <div class="col-md-12">
                <button mat-raised-button color="primary" type="submit" [disabled]="!formProduct.valid" style="margin-right: 10px;" (click)="submit()">Guardar</button>
                <button mat-raised-button  mat-dialog-close color="primary" type="submit">Cancelar</button>
            </div>
        </form>
    </div>
</div>